.ui.attached.menu:not(.tabular) {
  border: none !important;
}

.ui.segment[class*="bottom attached"] {
  border: none !important;
}

.ui.segment {
  box-shadow: none !important;
  border: none !important;
  margin: 0 !important;
}
